*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --main-color: #137a47;
    --secondary: #ca9e40;
}

body{
     font-family: var(--font-satoshi);
     background: #fff6e37f;
     font-weight: 500;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
     width: 100%;
     height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}
    ::-webkit-scrollbar-track {
    background: transparent;
  }
    ::-webkit-scrollbar-thumb {
    background: var(--main-color); 
      border-radius:10px;
  }
/* Utils */
.inner-row{
     width: 1280px;
     margin: auto;
}

/* Header Styles */
header{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.header-content{
  padding: 0px 30px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-radius: 0px 0px 30px 30px;
  -webkit-border-radius: 0px 0px 30px 30px;
  -moz-border-radius: 0px 0px 30px 30px;
  -ms-border-radius: 0px 0px 30px 30px;
  -o-border-radius: 0px 0px 30px 30px;
  box-shadow: 0px 0px 2px -1px rgba(7, 24, 0, 0.3);
}
header.scrolled-header{
   background: white;
   position: fixed;
   width: 100%;
   z-index: 99;
   top: 0;
   box-shadow: 0px 0px 2px -1px rgba(7, 24, 0, 0.3);
   transform: translateY(-100%);
   -webkit-transform: translateY(-100%);
   -moz-transform: translateY(-100%);
   -ms-transform: translateY(-100%);
   -o-transform: translateY(-100%);
}
header.scrolled-header .header-content{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 0;
    box-shadow: none;
}

.header-content .logo{
    position: relative;
    width: 250px;
    height: 90px;
}

header.scrolled-header.active{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.header-content a h3{
    color: var(--main-color);
    font-size: 22px;
}
.header-content nav ul{
    display: flex;
    gap: 20px;
}

.header-content nav ul li a{
   color:rgba(7, 24, 0);
   position: relative;
   padding-bottom: 10px;
   font-weight: 500;
}
.header-content nav ul li a:hover{
   color: var(--main-color);
}
.header-content nav ul li a::after,
.sidebar-nav ul li a::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 0%;
    background: var(--main-color);
    bottom: 0;
    left: 50%;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}
.header-content ul li a:hover::after,
.header-content ul li a.active::after,
.sidebar-nav ul li a:hover::after,
.sidebar-nav ul li a.active::after{
   width: 100%;
   left: 0;
}

.header-content .action-btns{
   display: flex;
   align-items: center;
   gap: 20px;
   position: relative;
}
.action-btns h2{
  font-size: 17px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #444;
}
.action-btns h2 span{
  display: inline-flex;
  color: var(--main-color);
}
.action-btns a{
   width: 150px;
   height: 50px;
   display: flex;
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
   align-items: center;
   justify-content: center;
   background: linear-gradient(to right, var(--main-color), rgb(77, 207, 77));
   color: white;
   font-size: 14px;
   font-weight: 500;
}
.header-content .menu-btn{
      width:40px;
      height: 40px;
      background: linear-gradient(to right, var(--main-color), rgb(77, 207, 77));
      border-radius: 45px;
      -webkit-border-radius: 45px;
      -moz-border-radius: 45px;
      -ms-border-radius: 45px;
      -o-border-radius: 45px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      display: none;
}
.header-content .menu-btn span{
  display: flex;
  color: whitesmoke;
  font-size: 20px;
}
/* Sidebar Styles */
.sidebar-wrapper{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: -1;
     display: none;
}
.sidebar-wrapper.active{
      z-index: 200;
}
.sidebar-wrapper .sidebar-overlay{
     background: #137a46a5;
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: 150;
     transform: translateY(-100%);
     -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
     -ms-transform: translateY(-100%);
     -o-transform: translateY(-100%);
}
.sidebar-wrapper .sidebar-content{
    width: 500px;
    background: white;
    z-index: 180;
    position: absolute;
    height: 100%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
.sidebar-content .sidebar-inner{
      width: 90%;
      margin: 20px auto;
      overflow: hidden;
}

.sidebar-content .sidebar-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sidebar-header a{
    position: relative;
     width: 200px;
     height: 90px;
     font-size: 24px;
     color: var(--main-color);
     font-weight: 600;
     transform: translateX(-100%);
     -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
     -ms-transform: translateX(-100%);
     -o-transform: translateX(-100%);
}
.sidebar-header span{
   display: flex;
   width: 45px;
   height: 45px;
   background: linear-gradient(to right, var(--main-color), rgb(77, 207, 77));
   border-radius:45px ;
   -webkit-border-radius:45px ;
   -moz-border-radius:45px ;
   -ms-border-radius:45px ;
   -o-border-radius:45px ;
   justify-content: center;
   align-items: center;
   color: whitesmoke;
   font-size: 24px;
   cursor: pointer;
   transform:translateX(100%);
   -webkit-transform:translateX(100%);
   -moz-transform:translateX(100%);
   -ms-transform:translateX(100%);
   -o-transform:translateX(100%);
}
.sidebar-nav{
  margin-bottom: 30px;
}
.sidebar-nav ul li{
  line-height: 45px;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.sidebar-nav ul li a{
  color:rgba(7, 24, 0);
  position: relative;
  padding-bottom: 8px;
}
.sidebar-nav ul li a:hover{
     color: var(--main-color);
}
.sidebar-content .action-btns{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.sidebar-content .action-btns h2,
.sidebar-content .action-btns a{
     transform: scale(0);
     -webkit-transform: scale(0);
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
     transform-origin: left;
}

.spinner-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00542acb;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.spinner {
  width: 82px;
  height: 18px;
  position: relative;
}
.spinner::before , .spinner::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50% , 10%);
  top: 0;
  background: white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: jump 0.5s ease-in infinite alternate;
}

.spinner::after {
  background: #0000;
  color: #fff;
  top: 100%;
  box-shadow: 32px -20px , -32px -20px;
  animation: split 0.5s ease-out infinite alternate;
}

@keyframes split {
  0% { box-shadow: 8px -20px, -8px -20px}
  100% { box-shadow: 32px -20px , -32px -20px}
}
@keyframes jump {
 0% { transform: translate(-50% , -150%)}
 100% { transform: translate(-50% , 10%)}
}


/* Hero Section Styles */
#hero{
    padding: 50px 0 100px;
    
}
.hero-content{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    width: 1000px;
    margin: auto;
}

.hero-texts-column{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.hero-texts-column h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-texts-column p{
    font-size: 18px;
    line-height: 30px;
    width: 90%;
    margin-bottom: 30px;
}
.hero-texts-column p{
      width: 80%;
      margin: 0px auto 30px auto;
}

.hero-texts-column .action-part{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.action-part .trust-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.action-part .trust-students{
     display: flex;
}
.trust-students img{
     width: 45px;
     height: 45px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     border: 3px solid var(--main-color)
}
.trust-students img:not(:nth-child(1)){
    margin-left: -20px
}
.trust-box h3{
    font-size: 16px;
    font-family: var(--font-satoshi);
    font-weight: 500;
}
.hero-texts-column a{
      width: 220px;
      display: flex;
      height: 60px;
      background: var(--main-color);
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      color: white;
      gap: 5px;
      transition: all 0.6s ease;
      -webkit-transition: all 0.6s ease;
      -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
}
.hero-texts-column a span{
      display: flex;
      width: 30px;
      height: 30px;
      background: white;
      color: var(--main-color);
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      font-size: 13px;
}

.hero-texts-column a:hover{
     gap: 10px;
}

.hero-image-column{
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1.5fr 1fr;
      gap: 50px;
      margin-top: 40px;
}
.hero-image-column .big-image{
       height: 660px;
       width: 100%;
       position: relative;
}
.hero-image-column .big-image  img{
    border-radius: 300px;
       -webkit-border-radius: 300px;
       -moz-border-radius: 300px;
       -ms-border-radius: 300px;
       -o-border-radius: 300px;
       object-fit: cover;
}
.hero-image-column .hero-image-wrapper{
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap: 20px;
}
.hero-image-wrapper .small-image{
     position: relative;
     width: 200px;
     height: 250px;
}
.hero-image-column .hero-image-wrapper.one{
       align-items: flex-end;
}
.hero-image-column .hero-image-wrapper img{
     object-fit: cover;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
}

/* Why Section Styles */
.why-section{
    padding: 100px 0;
    background: white;
}
.why-section-content{
     display: grid;
     grid-template-columns: 2fr 3.2fr;
     gap: 80px;
}
.why-section-content h3{
    color: var(--main-color);
    font-weight: 600;

}
.why-section-content h1{
    font-size: 55px;
}

.reasons-wrapper{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 30px;
}
.reason-moja{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.reason-moja img{
      width: 45px;
      height: 45px;
}
.reason-moja h4{
    font-size: 18px;
    margin-bottom: 5px;
}
.reason-moja p{
    line-height: 25px;
}


/* About Us Section */
.about-section{
     padding: 0px 0px 150px 0px;
     background: white;
}
.about-section-content{
    display: grid;
    grid-template-columns: 3fr 2.5fr;
    gap: 80px;
}
.about-section-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    position: relative;
}
.about-section-images .about-section-image-moja:nth-child(1){
    position: relative;
    height: 500px;
    width: 320px;
    transform:translateY(150px);
    -ms-transform:translateY(150px);
    -o-transform:translateY(150px);
    -webkit-transform:translateY(150px);
    -moz-transform:translateY(150px);
}
.about-section-images .about-section-image-moja:nth-child(2){
      position: relative;
      height: 400px;
}
.about-section-image-moja:nth-child(1) img{
     object-fit: cover;
     border-radius: 160px;
     -webkit-border-radius: 160px;
     -moz-border-radius: 160px;
     -ms-border-radius: 160px;
     -o-border-radius: 160px;
}
.about-section-image-moja:nth-child(2) img{
     object-fit: cover;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      -ms-border-radius: 150px;
      -o-border-radius: 150px;
}
.about-section-texts h3{
      color: var(--main-color);
      font-weight: 600;
}
.about-section-texts h1{
    font-size: 55px;
    line-height: 75px;
    margin: 10px 0;;
}
.about-section-texts p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
}
.about-section-texts a{
    margin-top: 30px;
      width: 180px;
      height: 55px;
      display: flex;
      background: linear-gradient(to right, var(--main-color), rgb(77, 207, 77));
      color: white;
      border-radius: 55px;
      -webkit-border-radius: 55px;
      -moz-border-radius: 55px;
      -ms-border-radius: 55px;
      -o-border-radius: 55px;
      justify-content: center;
      align-items: center;
      gap: 10px
}

.about-section-texts a span,
.courses-btn a span{
    display: flex;
    width: 30px;
    height: 30px;
    background: white;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 13px;
}

/* Courses Styles */
.courses-section{
     padding: 100px 0;
}

.courses-intro{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}
.courses-intro h3{
     color: var(--main-color);
     font-family: var(--font-satoshi);
     font-weight: 600;
}
.courses-intro h1{
     font-size: 65px;
     margin: 10px 0;
}
.courses-intro p{
    font-size: 18px;
    width: 80%;
    line-height: 30px;
}
.courses-btn{
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
}
.courses-btn a{
     width: 230px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5px;
     height: 60px;
     background: linear-gradient(to right, var(--main-color), rgb(77, 207, 77));
     color: white;
     border-radius: 55px;
     -webkit-border-radius: 55px;
     -moz-border-radius: 55px;
     -ms-border-radius: 55px;
     -o-border-radius: 55px;
     font-size: 15px;
}

.course-types-row{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 30px;
      margin-top: 80px;
}
.course-moja{
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 20px 5px rgba(218, 235, 226, 0.3);
    cursor: pointer;
}
.course-moja .course-image{
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}
.course-moja img{
     border-radius: 20px 20px 0px 0px;
     -webkit-border-radius: 20px 20px 0px 0px;
     -moz-border-radius: 20px 20px 0px 0px;
     -ms-border-radius: 20px 20px 0px 0px;
     -o-border-radius: 20px 20px 0px 0px;
     object-fit: cover;
     transition: all 0.8s ease;
     -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
     -ms-transition: all 0.8s ease;
     -o-transition: all 0.8s ease;
}
.course-moja:hover img{
     transform: scale(1.1);
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
     -o-transform: scale(1.1);
}
.course-moja h2{
    font-size: 25px;
    margin: 10px 30px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    color: #111;
    font-weight: 600;
}
.course-moja:hover h2{
     color: var(--main-color);
}
.course-moja p{
    padding: 0 30px;
    line-height: 28px;
    color: #111;
}

.examination-strip{
    margin-top: 80px;
}
.examination-strip h3{
     color: var(--main-color);
     font-size: 20px; 
     font-weight: 600;
}
.examination-strip .strip-intro{
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 30px;
}
.examination-strip h1{
    font-size: 65px;
}
.examination-strip .strip-intro p{
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    line-height: 30px;
}
.examination-strips-wrapper{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 80px;
}
.strip-moja{
    background: white;
    display: flex;
    gap: 10px;
    padding: 30px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgba(231, 234, 232, 0.395);
    margin-bottom: 20px;
}
.strip-moja span{
      width: 40px;
      flex-shrink: 0;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--main-color);
      color: white;
      border-radius:50% ;
      -webkit-border-radius:50% ;
      -moz-border-radius:50% ;
      -ms-border-radius:50% ;
      -o-border-radius:50% ;
}
.strip-moja h4{
    font-size: 20px;
    margin-bottom: 5px;
}
.strip-moja p{
    line-height: 28px;
}
.exam-strip-row .courses-btn{
      justify-content: flex-start;
      margin-top: 50px;
}
.exam-pictures-column{
      display: flex;
      align-items: center;
}
.exam-pictures{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      height: max-content;
      align-items: center;
      gap: 30px;
}
.exam-pictures .exam-pic{
     position: relative;
      width: 320px;
      height: 650px;
}
.exam-pictures .exam-pic:nth-child(1){
     height: 450px;
}
.exam-pictures img{
      object-fit: cover;
       border-radius: 160px;
       -webkit-border-radius: 160px;
       -moz-border-radius: 160px;
       -ms-border-radius: 160px;
       -o-border-radius: 160px;
}

/* Testimonials Styles */
.testimonial-section{
     padding: 100px 0;
     background: white;
}
.testimonial-intro{
      text-align: center;
}
.testimonial-intro h1{
     font-size: 65px
}
.testimonials-row{
    margin-top: 50px;
}
.testimonial-moja{
     max-width: 400px;
     background: rgba(76, 230, 138, 0.1);
     padding: 30px;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}
.testimonial-moja span{
     font-size: 30px;
     color: var(--main-color);
}
.testimonial-moja p{
     line-height: 25px;
     margin-bottom: 10px;
}

.nudge-section{
        margin-top: 100px;
}

.nudge-section-content{
      padding:80px  50px;
      background:linear-gradient(to right, rgba(4, 68, 22, 0.888), rgba(8, 99, 37, 0.668)), url("/assets/contact-action.jpg") no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      display: grid;
      grid-template-columns: 3fr 1.5fr;
      gap: 50px;
}
.nudge-section-content h1{
    font-size: 65px; 
    color: whitesmoke;
    margin-bottom: 20px;
}
.nudge-section-content p{
    font-size: 20px;
    line-height: 35px;
    color: whitesmoke;
    margin-bottom: 30px;
}
.nudge-section-content a{
      width: 200px;
      height: 55px;
      background: #ca9e40;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-family: var(--font-medium);
      border-radius: 55px;
      -webkit-border-radius: 55px;
      -moz-border-radius: 55px;
      -ms-border-radius: 55px;
      -o-border-radius: 55px;
      gap: 10px;
}
.nudge-section-content a span{
    width: 35px;
    flex-shrink: 0;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    color: var(--main-color);
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
.nudge-section-image{
      position: relative;
       height: 450px;
       width: 100%;
}
.nudge-section-image img{
    border-radius: 170px;
    -webkit-border-radius: 170px;
    -moz-border-radius: 170px;
    -ms-border-radius: 170px;
    -o-border-radius: 170px;
    object-fit: cover;
}

/* ABOUT US PAGE STYLES */
.about-hero-section{
    padding: 100px 0 300px 0px;
}
.about-hero-content{
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: 80px;;
}
.left-hero-texts h3{
      color: var(--main-color);
      font-weight: 600;
}
.left-hero-texts h1{
    font-size: 65px;
    margin-top: 20px
}

.right-hero-texts{
    display: flex;
    align-items: flex-end;
}
.right-hero-texts p{
    font-size: 19px;
    line-height: 35px;
}

/* About Body Styles */
.about-body-section{
    background: white;
    position: relative;
    padding: 0px 0px 100px 0;
}
.about-body-images{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    transform: translateY(-180px);
    -webkit-transform: translateY(-180px);
    -moz-transform: translateY(-180px);
    -ms-transform: translateY(-180px);
    -o-transform: translateY(-180px);
}
.about-body-images img{
      border-radius: 180px;
      -webkit-border-radius: 180px;
      -moz-border-radius: 180px;
      -ms-border-radius: 180px;
      -o-border-radius: 180px;
      object-fit: cover;
}
.about-body-images .about-body-image-moja{
      position: relative;
      height: 450px;
      width: 100%;
}
.numbers-row{
      width: 90%;
      margin: -80px auto 0px auto;
      display: grid;
      grid-template-columns: repeat(4,1fr);
}
.number-moja{
      display: flex;
      flex-direction: column;
      align-items: center;
}
.number-moja h1{
    font-size: 65px;
    color: var(--main-color);
}
.number-moja h3{
     font-family: var(--font-light);
     color: #333;
     font-size: 18px;
}
.story-section{
      margin-top: 80px;
      display: grid;
      grid-template-columns: 2.5fr 3fr;
      gap: 50px;
}
.story-section h3{
    color: var(--main-color);
    margin-bottom: 20px;
    font-weight: 600;
}
.story-section h1{
      font-size: 60px;
}
.story-section p{
      font-size: 18px;
      margin-bottom: 20px;
      line-height: 32px;
}

.statements-row{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 50px;
      width: 90%;
      margin: 60px auto 0 auto;
}
.vision h3, 
.mission h3{
      font-size: 45px;
      font-weight: 600;
}
.vision p,
.mission p{
      font-size: 20px;
      line-height: 35px;
}

/* Values Styles */
.values-section{
    padding: 100px 0;
}
.values-section-content{
     display: grid;
     grid-template-columns: repeat(4,1fr);
}
.values-section-content .value-intro{
       grid-column: span 2;
       padding: 0px 40px 50px 0px;
}
.value-intro h1{
      font-size: 40px;
      margin-bottom: 10px;
}
.value-intro p{
      width: 80%;
      line-height: 25px;
}
.value-moja{
      padding: 50px 30px;
}
.value-moja h3{
     font-size: 24px;
     margin-bottom: 10px;
}
.value-moja p{
     line-height: 25px;;
}
.value-moja:nth-child(2),
.value-moja:nth-child(5),
.value-moja:nth-child(7){
      background: var(--main-color);
      color: white;
}
.value-moja:nth-child(3),
.value-moja:nth-child(6){
     background: #ebe5d662;
}

/* COURSES STYLES */
.course-hero-section{
    padding: 100px 0;
}
.course-hero-texts{
       text-align: center;
       width: 1000px;
       margin: auto;
}
.course-hero-texts h3{
    color: var(--main-color);
    font-weight: 600;
}
.course-hero-texts h1{
      font-size: 65px;
      margin: 10px 0;
}
.course-hero-texts p{
      font-size: 18px;
      line-height: 30px;
      width: 80%;
      margin: auto;
}

.courses-themselves-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
}


/* Reaons Styles */
.reasons-section{
    padding: 100px 0;
    background: white;
}
.reasons-intro{
        text-align: center;
}
.reasons-intro h3{
     color: var(--main-color);
     font-weight: 600;
}
.reasons-intro h1{
      font-size: 65px;
}

.reasons-section .reasons-wrapper{
       width: 1000px;
       margin: 80px auto 0px auto;
}

.reasons-section .reasons-wrapper .reason-moja{
        flex-direction: column;
        text-align: center;
}
.reasons-section .reasons-wrapper .reason-moja img{
       margin: auto
}
.reasons-section .reason-moja p{
       width: 400px;
       margin: auto;
}

/* Faqs section */
.faq-section{
    padding: 100px 0;
}
.faq-section-content{
      width: 950px;
      margin: 0px auto 20px auto;
}

.faq-intro{
      text-align: center;;
}
.faq-intro h2{
      font-size: 55px;
      margin-bottom: 20px;
}
.faq-intro p{
      font-size: 18px;
}
.faqs-wrapper{
     margin: 50px auto 0px auto;
     width: 700px;
}
.faq-moja{
      margin-bottom: 20px;
      padding: 25px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      background: white;
      box-shadow: 0px 0px 1px -1px rgb(28, 28, 28);
}
.faq-question{
      display: flex;
      justify-content: space-between;
      cursor: pointer;
}
.faq-question h2{
     font-size: 21px;
}
.faq-question .trigger-btn{
     position: relative;
}
.trigger-btn span{
      display: flex;
      position: absolute;
      font-size: 25px;
      justify-content: center;
      align-items: center;
      top: -5px;
      right: 0px;
      width: 40px;
      height: 40px;
      cursor: pointer;
}
.trigger-btn span.hide{
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
}
.trigger-btn span.show{
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
.faq-answer{
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
}
.faq-answer.show{
        max-height: 400px;
}
.faq-answer-inner{
      padding: 20px 10px;
}
.faq-answer p{
      font-size: 17px;
      line-height: 30px;
}

/* Single Course Styles */
.single-course-body{
        padding: 100px 0;
}
.single-course-intro{ 
      text-align: center;
      margin-bottom: 30px;
}
.single-course-intro h3{
      color: var(--main-color);
      font-weight: 600;
}
.single-course-intro h1{
       font-size: 65px;
}

.single-course-content .image{
        position: relative;
         width: 800px;
         height: 450px;
         margin: auto;
         display: block;
}
.single-course-content .image img{
    border-radius: 30px;
   object-fit: cover;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.single-course-content .course-description{
         width: 80%;
         margin: 50px auto 0px auto;
}
.course-description p{
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px;
}

.course-description .list ul{
        width: 90%;
        margin: 0px auto 20px auto;
}

/* EXAMS PAGE STYLES */
.exams-hero{
    padding: 100px 0 0px 0;
}
.exams-hero-content .exams-hero-intro{
   text-align: center;
}
.exams-hero-content h3{
    color: var(--main-color);
    font-weight: 600;
}
.exams-hero-intro h1{
    font-size: 65px;
    width: 1000px;
    margin: 10px auto;
}
.exams-hero-intro p{
     font-size: 20px;
     width: 900px;
     margin: auto;
}
.exams-body{
     background: white;
     width: 1100px;
     margin: 80px auto 0px auto;
     border-radius: 30px;
     padding: 60px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     -ms-border-radius: 30px;
     -o-border-radius: 30px;
     display: grid;
     grid-template-columns: 3fr 2fr;
     gap: 30px;
}
.exams-body-texts h3{
   margin-bottom: 10px;
}
.exams-body-texts p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 30px;
}
.exams-body-image{
    width: 320px;
    height: 550px;
      position: relative;
       display: flex;
       align-items: center;
       justify-content: flex-end;
}
.exams-body-image img{
   border-radius: 160px;
   -webkit-border-radius: 160px;
   -moz-border-radius: 160px;
   -ms-border-radius: 160px;
   -o-border-radius: 160px;
   object-fit: cover;
}

.exams-section{
   padding: 100px 0;
}

.exams-section h3{
 color: var(--main-color);
 font-size: 18px;
}
.exams-section .strip-intro{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 30px;
}
.exams-section h1{
font-size: 65px;
}
.exams-section .strip-intro p{
font-size: 20px;
display: flex;
align-items: flex-end;
line-height: 30px;
}

.exams-strip-row{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   margin-top: 80px;
}
.exams-strip-row .strip-moja{
   margin-bottom: 0px;
}

/* CONTACT PAGE STYLES */
.contact-hero{
    padding: 100px 0;
}
.contact-hero-section{
       text-align: center;
}
.contact-hero-section h3{
      color: var(--main-color)
}
.contact-hero-section h1{
    font-size: 65px;
}
.contact-hero-section p{
       width: 700px;
       font-size: 18px;
       line-height: 32px;
       margin: 10px auto;
}

.contact-details{
      display: grid;
      grid-template-columns:repeat(3,1fr);
      gap: 50px;
     margin-top: 50px;;
}
.contact-details .contact-column{
       background: white;
       display: flex;
       padding: 30px;
       gap: 20px;
       border-radius: 20px;
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       -ms-border-radius: 20px;
       -o-border-radius: 20px;
       box-shadow: 0px 0px 4px -1px rgba(218, 218, 218, 0.29);;
}
.contact-column .contact-icon{
      width: 60px;
      flex-shrink: 0;
      height: 60px;
      background: var(--main-color);
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
.contact-icon span{
    display: flex;
    font-size: 25px;
}
.contact-column h4{
      font-size: 20px;
      margin-bottom: 10px;
}
.contact-column p{
     margin-bottom: 10px;
     font-size: 17px;
}

.contact-body-section{
       margin-top: 80px;
       width: 800px;
       background: white;
       padding: 50px;
       margin: 80px auto 0 auto;
       border-radius: 30px;
       -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
       -ms-border-radius: 30px;
       -o-border-radius: 30px;
       box-shadow: 0px 0px 4px -1px rgba(230, 230, 230, 0.3);
}

.form-row{
    margin-bottom: 30px;
}
.form-row label{
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
}
.form-row span.error{
       color: red;
       font-size: 13px;
}
.form-row .form-control{
       width: 100%;
       height: 60px;
       font-family: var(--font-regular);
       font-size: 16px;
       border-radius: 5px;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       -ms-border-radius: 5px;
       -o-border-radius: 5px;
       border: 1px solid rgba(210, 223, 215, 0.564);
       padding-left: 10px;
       outline: none;
       font-weight: 500;
}
.form-row .form-control.error{
       border: 1px solid rgb(255, 78, 78);
}
.form-row textarea{
    width: 100%;
    height: 160px;
    font-family: var(--font-regular);
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid rgba(210, 223, 215, 0.564);
    padding: 10px;
    font-weight: 500;
    outline: none;
    resize: none;
}

.form-btn button{
      width: 200px;
      height: 60px;
      background: var(--main-color);
      color: white;
      font-family: var(--font-regular);
      font-size: 16px;
      border-radius: 60px;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;
      border: none;
      cursor: pointer;
      font-weight: 600;
}
.contact-map{
    margin-top: 80px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}

.contact-map iframe{
      width: 100%;
      border: none;
}

/* FORMS STYLES */
.registration-hero{
    padding: 100px 0;

}
.registration-hero-content h1{
     font-size: 65px;
     text-align: center;
     margin-bottom: 20px;
}
.registration-hero-content p.intro{
     text-align: center;
     font-size: 18px;
     width: 700px;
     margin: auto;
     line-height: 32px;
}

.forms-switch-btns{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
   gap: 30px;
}

.forms-switch-btns button{
     width: 250px;
     height: 55px;
     font-family: var(--font-regular);
     font-size: 16px;
     background: transparent;
     border-radius: 55px;
     -webkit-border-radius: 55px;
     -moz-border-radius: 55px;
     -ms-border-radius: 55px;
     -o-border-radius: 55px;
     border: 1px solid gainsboro;
     cursor: pointer;
}

.forms-switch-btns button.active{
    background: linear-gradient(to right, var(--main-color), rgb(77, 207, 77));
    color: white;
}

.forms-row{
     margin-top: 50px;
     background: white;
     padding: 50px 30px;
     border-radius: 30px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     -ms-border-radius: 30px;
     -o-border-radius: 30px;
}
.forms-row h2{
     text-align: center;
     font-size: 50px;
     font-family: var(--font-bold);
}
.form-input{
   margin-bottom: 20px;
}
.form-input.split{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
}
.form-input label{
    display: block;
    margin-bottom: 10px;
    font-family: var(--font-medium);
}

.form-input-columns{
     display: grid;
     grid-template-columns: 150px 1fr 1fr 1fr;
     gap: 20px;
}
.form-input .input-control{
     width: 100%;
     font-family: var(--font-regular);
     padding-left: 10px;
     height: 55px;
     background: #fffefb87;
     border: 1px solid gainsboro;
     outline: none;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
     font-size: 16px;
}
.form-input .small-select select{
    width: 100%;
    height: 55px;
    padding-left: 5px;
    font-family: var(--font-regular);
    background: #fdf9f166;
     border: 1px solid gainsboro;
     outline: none;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
     font-size: 16px;
     background: #fffefb87;
}

.form-input .disclaimer{
     font-size: 15px;
     margin-top: 10px;
}
.form-input .disclaimer span{
    font-family: var(--font-medium);
    font-size: 17px;
}
.form-input .remove{
      display: none;
}
.form-input .options-input{
   display: flex;
   gap: 30px;
   align-items: center;
}
.options-input p{
   font-size: 17px
}
.options-input .options{
     display: flex;
     gap: 10px;
     align-items: center;
}
.options input{
     margin-top: 2px;
}

.form-input-cols{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 20px;
}
.form-input-cols label{
     font-size: 15px;
     color: #333;
}
.form-input label span,
.form-input span.error{
     color: red;
     font-size: 13px;
}
.form-btn{
   margin-top: 50px;
   display: flex;
   justify-content: center;
}
.form-input .form-input-selections{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   width: 300px;
}
.form-input .date-plan-row{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}
.form-input .selection-moja{
   display: flex;
   margin-bottom: 10px;
   gap: 5px;
}
.date-plan-moja p{
     margin-bottom: 5px;
}

.selection-inputs{
    display: flex;
    gap: 10px;
}
.selection-inputs .selection-inputs-row{
       width: 100%;
}
.selection-inputs .input-control{
     width: 90%;
     margin-bottom: 10px;
}
.selection-inputs button{
      width: 150px;
      border: none;
      height: 55px;
      background: var(--main-color);
      border-radius: 55px;
      -webkit-border-radius: 55px;
      -moz-border-radius: 55px;
      -ms-border-radius: 55px;
      -o-border-radius: 55px;
      color: white;
      cursor: pointer;
}

.selection-inputs-row .input-moja{
      display: flex;
      align-items: center;
      gap: 10px;

}
.selection-inputs-row .input-moja span{
       width: 45px;
       height: 45px;
       display: flex;
       align-items: center;
       justify-content: center;
       background: rgb(239, 239, 239);
       border-radius: 35px;
       -webkit-border-radius: 35px;
       -moz-border-radius: 35px;
       -ms-border-radius: 35px;
       -o-border-radius: 35px;
       color: red;
       cursor: pointer;
}

/* Calendar */
.calendar-hero{
    padding: 100px 0;
}
.calendar-hero-content h1{
   font-size: 55px;
   text-align: center;
}
.calendar-hero-content p{
   font-size: 20px;
   text-align: center;
   width: 700px;
   margin: 10px auto;;
}

.calendar-options{
    padding-bottom: 100px;;
}
.year-options{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.calendar-options-content .year-options ul{
   display: inline-flex;
   gap: 30px;
   flex-wrap: wrap;
   justify-content: center;
}
.year-options ul li{
    width: 150px;
    height: 45px;
    display: flex;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background: rgb(242, 237, 224);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.year-options ul li.active,
.year-options ul li:hover{
   background: var(--main-color);
   color: white;
}

.option-column{
  display: grid;
  grid-template-columns: 1.8fr 3fr;
  align-items: center;
  gap: 60px;
  background:white;
  margin: 0px auto 20px auto;
  width: 1000px;
  border-radius: 20px;
  padding: 40px 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.option-column h3{
   border-right: 1px solid gainsboro;
   padding: 10px 50px 10px 0;
   font-size: 18px
}

.option-column p span{
    font-weight: 600;
    font-size: 14px;
}

  /* Error page */
  .error-section{
    padding: 100px 0;
}

.error-section-content{
       text-align: center;
}

.error-section-content h1{
       font-size: 150px;
       font-weight: 600;
}

.error-section-content h3{
     font-size: 35px;
     font-family: var(--font-medium);
}
.error-section-content p{
 font-size: 20px;
 width: 500px;
 margin: 10px auto;
 line-height: 35px;
 font-family: var(--font-medium);
}
.error-section-content p a{
     color: var(--main-color);
     font-size: 22px;
}
/*  Footer Styles  */
footer{
  background: rgb(0, 23, 0);
}
.footer-content{
   display: grid;
   grid-template-columns: 400px 1fr 1fr 300px;;
   gap: 50px;
   padding: 100px 0;
}
.footer-column .footer-title{
  color: whitesmoke;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 10px;
}
.footer-column .footer-logo{
    position: relative;
    width: 200px;
    height: 90px;
     margin-bottom: 10px;
}
.footer-column .footer-logo img{
       object-fit: contain;
}
.footer-logo h2{
 font-size: 30px;
 color: gainsboro;
}

.footer-column p{
   font-size: 16px;
   color: gainsboro;
   margin-bottom: 10px;
}
.footer-column ul li{
   line-height: 40px;
}
.footer-column ul li a{
 font-size: 16px;
 display: flex;
 color: gainsboro;
 transition:all 0.7s ease;
 -webkit-transition:all 0.7s ease;
 -moz-transition:all 0.7s ease;
 -ms-transition:all 0.7s ease;
 -o-transition:all 0.7s ease;
}
.footer-column ul li a:hover{
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.footer-column h3{
 color: gainsboro;
 font-weight: 400;
 font-size: 17px;
 display: flex;
 gap: 5px;
 margin-bottom: 20px;
 align-items: center;
}
.footer-column h3 span{
  display: flex;
}

.footer-social-links ul{
 display: flex;
 gap: 30px;
 margin-top: 30px
}
.footer-social-links ul li a{
 font-size: 18px;
 border: 1px solid rgb(145, 145, 145);
 width: 40px;
 height: 40px;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: all 0.6s ease;
 -webkit-transition: all 0.6s ease;
 -moz-transition: all 0.6s ease;
 -ms-transition: all 0.6s ease;
 -o-transition: all 0.6s ease;
}
.footer-social-links ul li a:hover{
  background:rgba(93, 152, 104, 0.3);
  border: none;
}
.copyright-section p{
  text-align: center;
  padding: 30px 0;
  color: whitesmoke;
  font-size: 14px;
  font-family: var(--font-light);
}
.copyright-section::before{
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(109, 109, 109, 0.507);
    display: block;
}

/* Careers Styles */
.careers-hero{
   padding: 100px 0;
}
.careers-hero-content{
 text-align: center;
}
.careers-hero-content h3{
    font-size: 18px;
    color: var(--main-color);
}
.careers-hero-content h1{
   font-size: 65px;
   width: 800px;
   margin: auto;
}
.careers-hero-content p{
 font-size: 20px;
 width: 900px;
 margin: 10px auto;
 line-height: 32px;
}
.careers-content{
 padding-bottom: 100px;
}
.positions-content{
    width: 900px;
    margin: auto;
}
.positions-content h2{
   font-size: 25px;
   color: var(--main-color);
   margin-bottom: 30px;
}
.career-option-moja{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 30px;
 background: white;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
 gap: 20px;
}
.career-option-moja p{
   margin-top: 10px
}
.career-option-moja a{
   font-weight: 600;
   display: flex;
   gap: 5px;
   align-items: center;
   color: var(--main-color);
}
.career-option-moja a span{
    display: flex;
}

.registration-forms{
    width: 900px;
    margin: 50px auto 0px auto;
}
.registration-forms .career-option-moja{
    margin-bottom: 20px;
}


/* Responsivity */
@media(max-width: 1300px){
    .inner-row{
          width: 90%;
    }
}
@media(max-width: 1200px){
    .exams-body{
            width: 90%;
    }
}
@media(max-width: 1150px){
    .sidebar-wrapper{
        display: block;
     }
      .header-content .menu-btn{
             display:  flex;
      }
       .header-content nav{
               display: none;
       }
     .examination-strips-wrapper{
             grid-template-columns: 1fr;
             width: 90%;
             margin: 80px auto 0px auto;
       }
       .exam-pictures{
             width: 600px;
             margin: auto;
       }


       /* EXAM PAGE STYLEs */
       .exams-hero-intro h1,
       .exams-hero-intro p{
              width: 90%;
       }
       .exams-body,
       .exams-section .strip-intro{
             grid-template-columns: 1fr;
       }
       .exams-body-image{
           
       }
       .exams-body-image{
            width: 100%;
            justify-content: center;
       }

       .exams-strip-row{
             grid-template-columns: 1fr;
       }


       .footer-content{
              grid-template-columns: 300px 1fr 1fr 300px;
       }

}
@media(max-width: 1090px){
    #hero{
        padding-top: 80px;
 }
   .hero-content,
   .why-section-content,
   .about-section-content,
   .course-types-row,
   .courses-intro,
   .examination-strip .strip-intro{
         grid-template-columns: 1fr;
   }
   .hero-content{
          width: 100%;
   }
   .hero-texts-column{
          text-align: center;
   }
   .hero-texts-column p{
        width: 80%;
        margin: 0px auto 30px auto;
   }
   .hero-texts-column .action-part{
          justify-content: center;
   }

   .hero-image{
         width: 70%;
   }
   .about-section-images{
          width: 650px;
          margin: auto;
   }
   .about-section-images .about-section-image-moja:nth-child(1){
         transform: translateY(0)       ;
         -webkit-transform: translateY(0)       ;
         -moz-transform: translateY(0)       ;
         -ms-transform: translateY(0)       ;
         -o-transform: translateY(0)       ;
}
.course-types-row{
     width: 90%;
     margin: 80px auto 0px auto;
}
.course-moja .course-image{
      height: 350px;
}
.courses-intro{
    gap: 20px;
}
.courses-btn{
    justify-content: flex-start;
}
.exam-pictures{
    width: 100%;
}
.nudge-section-image img{
     height: 350px;
}

   .footer-content{
          grid-template-columns: 1fr 1fr;
   }
   .careers-hero-content h1,
   .careers-hero-content p,
   .positions-content,
   .registration-forms{
           width: 90%;
   }

   /* About Us Responsiveness */
   .about-hero-content{
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
}
.story-section{
   grid-template-columns: 1fr;
   gap: 30px;
}
.about-body-images{
     grid-template-columns: 1fr 1fr;
     width: 650px;
}
.about-body-images .about-body-image-moja:nth-child(3){
     display: none;
}
.vision h3, 
.mission h3{
   font-size: 35px;
}
.vision p,
.mission p{
  font-size: 18px;
  line-height: 30px;
}

.values-section-content{
     grid-template-columns: repeat(3,1fr);
}
.values-section-content .value-intro{
    grid-column: span 1;
}
.values-section-content .value-moja.space{
  display: none;
}
.value-intro h1{
   font-size: 30px;
   color: var(--main-color);
}
.value-intro p{
   width: 100%;
}

/* COURSES RESPONSIVENESS */
.course-hero-texts,
.reasons-section .reasons-wrapper,
.faq-section-content,
.reasons-section .reason-moja p,
.faqs-wrapper{
       width: 90%;
}
.reasons-intro h1,
.course-hero-texts h1{
       font-size: 55px;
}
.courses-themselves-row{
       grid-template-columns: repeat(2,1fr);
}

.single-course-content .image{
      width: 90%;
}
.single-course-content .course-description{
       width: 100%;
}


/* CONTACT STYLES */
.contact-hero-section p{
    width: 90%;
}
.contact-hero-section h1{
  font-size: 55px;
}
.contact-details{
   grid-template-columns: 1fr;
   gap: 20px;
   width: 400px;
   margin: 50px auto 0px auto;
}
.contact-body-section{
     width: 90%;
}
.calendar-hero-content p{
    width: 90%;
}

.option-column{
   width: 90%;
}

}

@media(max-width: 850px){
    .values-section-content{
           grid-template-columns: 1fr 1fr;
           gap: 5px ;
    }
}

@media(max-width: 768px){
       .header-content .action-btns h2,
       .header-content .action-btns a{
               display: none;
       }
       .hero-texts-column h1{
        font-size: 60px;
 }
   .hero-image{
         height: 500px;
   }
   .hero-image-column .bubble-text,
   .bubble-text img{
         width: 60px;
         height: 50px;
   }
   .bubble-text.spanish,
   .bubble-text.french{
          left: 20px;
   }
   .bubble-text.english,
   .bubble-text.chinese{
          right: 20px;
   }
   .bubble-text-content p{
          font-size: 12px;
   }
   .hero-texts-column{
          margin-top: 0px;
   }
   .hero-image-column{
      gap: 10px;
   }
   .hero-image-column .big-image{
         height: 450px;
   }
   .hero-image-column .hero-image-wrapper .small-image{
            height: 150px;
            width: 120px;
   }
   .hero-image-column .hero-image-wrapper img{
           border-radius: 70px;
           -webkit-border-radius: 70px;
           -moz-border-radius: 70px;
           -ms-border-radius: 70px;
           -o-border-radius: 70px;
}
   .reasons-wrapper{
          grid-template-columns: 1fr;
          gap: 10px;
   }

   .about-section-images,
   .about-section-images .about-section-image-moja:nth-child(1),
   .exam-pictures,
   .exam-pictures .exam-pic{
          width: 100%;
   }
   .courses-intro h1,
   .examination-strip h1,
   .testimonial-intro h1,
   .nudge-section-content h1{
         font-size: 55px;
   }
   .nudge-section-content{
         gap: 50px;
         grid-template-columns: 1fr;
         text-align: center;
   }
   .nudge-section-content a{
         margin: auto;
   }
       .footer-content{
           grid-template-columns: 1fr;
           gap: 30px;
       }
       .header-content .logo{
              width: 200px;
       }
       .careers-hero-content h1{
            font-size: 55px;
       }
       .error-section-content h1{
               font-size: 100px;
       }
       .error-section-content p{
               width: 80%;
       }

       /* About Us Responsiveness */
       .left-hero-texts h1,
       .story-section h1,
       .number-moja h1{
               font-size: 50px;
       }
       .about-body-images{
             width: 90%;
       }
       .numbers-row{
             grid-template-columns: repeat(2,1fr);
             gap: 30px;
       }
       .statements-row{
              grid-template-columns: 1fr;
              gap: 20px;
       }
  .values-section-content{
          grid-template-columns: 1fr;
          gap: 5px ;
   }
   .values-section-content .value-intro{
          text-align: center;
   }


   /* COURSES STYLES */
   .courses-themselves-row{
    grid-template-columns: 1fr;
}
.courses-themselves-row .course-moja .course-image{
   height: 250px;
}
.reasons-intro h1,
.course-hero-texts h1,
.faq-intro h2,
.single-course-intro h1{
    font-size: 50px
}
.course-hero-texts p{
   width: 100%;
}
.faq-question h2{
   font-size: 19px;
   width: 90%;
}
.faqs-wrapper{
    width: 100%;
}

/* EXAMS PAGE */
.exams-strip-row{
    grid-template-columns: 1fr;
}
.exams-body-image img{
   width: 90%;
}
.exams-hero-intro h1,
.exams-section h1{
   font-size: 55px;;
}
.option-column{
    grid-template-columns: 1fr;
    gap: 10px;
}
.option-column h3{
    border-right: none;
    border-bottom: 1px solid gainsboro;
}


}

@media(max-width: 500px){
    .why-section-content h1,
    .about-section-texts h1{
           font-size: 45px;
    }
    .why-section-content{
           gap: 30px;
    }
     .about-section-images .about-section-image-moja:nth-child(1),
     .exam-pictures .exam-pic:nth-child(2){
            height: 400px;
     }
     .about-section-images .about-section-image-moja:nth-child(2),
     .exam-pictures .exam-pic:nth-child(1){
            height: 300px;
     }
     .testimonial-moja{
           max-width: 100%;
     }
     /* About us responsiveness */
     .numbers-row,
     .about-body-images{
          grid-template-columns: 1fr;
     }
    .about-body-images .about-body-image-moja:nth-child(2){
            display: none;
     }

     /* Courses responsiveness */
     .single-course-content .image{
          height: 300px;
     }

     /* CONTACT US */
     .contact-details,
     .contact-body-section{
            width: 100%;
     }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

/* Firefox */
input[type=number] {
 -moz-appearance: textfield;
}